{{!-- <div
  class="added-card text-light bg-dark border border-tertiary-subtle rounded-3 m-2"
  style="width: 18rem;"
>
  <div class="added-card-body m-3" id="added-exercize">
    <h5 class="added-card-title">Name:{{{exercise}}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Muscle:{{{muscle}}}</h6>
    <p class="card-text">Weight:{{{weight}}}lbs</p>
    <p class="card-text">Sets:{{{sets}}}</p>
    <p class="card-text">Instructions:{{{instructions}}}</p>
    <a href="#" class="card-link">Remove</a>
  </div>
</div> --}}